#pague-logo-screen,
#pague-logo-screen input {
    width: 100%;
}

#pague-logo-screen .card-wrapper {
    display: none;
}

#pague-logo-screen #payment-fields{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#pague-logo-screen #payment-fields input{
    margin-bottom: 20px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #999;
    width: 100%;
}

@media screen and (min-width: 301px) {
    #pague-logo-screen .card-wrapper {
        display: block;
        position: relative;
        margin-bottom: 22px;
    }
}

@media screen and (min-width: 370px) {
    #pague-logo-screen .card-wrapper>.jp-card-container {
        transform-origin: center;
    }
}

@media screen and (min-width: 570px) {
    #pague-logo-screen #payment-fields input{
        width: 48%;
    }    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #pague-logo-screen .card-wrapper>.jp-card-container {
        transform: scale(0.75);
        transform-origin: left center;
    }
}