#pague-logo-screen{
    width: 100%;
}

#pague-logo-screen input,
#pague-logo-screen select{
    padding: 0;
    margin: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    border: none;
}

#pague-logo-screen input:focus,
#pague-logo-screen select:focus {
    outline: none;
}

#pague-logo-screen .card-wrapper {
    display: none;
}

#pague-logo-screen #payment-fields{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#pague-logo-screen #payment-fields .field{
    margin-bottom: 20px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #999;
    width: 100%;
    position: relative;
    height: 55px;
}

#pague-logo-screen #payment-fields .field .error-msg{
    display: none;
    position: absolute;
    font-size: 10px;
    color: rgb(236, 41, 41);
    top: 1px;
    letter-spacing: 1px;
    left: 10px;
}

#pague-logo-screen #payment-fields .field.errored{
    border: 1px solid rgb(236, 41, 41);
}

#pague-logo-screen #payment-fields .field.errored .error-msg{
    display: block;
}


@media screen and (min-width: 301px) {
    #pague-logo-screen .card-wrapper {
        display: block;
        position: relative;
        margin-bottom: 22px;
    }
}

@media screen and (min-width: 370px) {
    #pague-logo-screen .card-wrapper>.jp-card-container {
        transform-origin: center;
    }
}

@media screen and (min-width: 570px) {
    #pague-logo-screen #payment-fields .field.half{
        width: 48%;
    }    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #pague-logo-screen .card-wrapper>.jp-card-container {
        transform: scale(0.75);
        transform-origin: left center;
    }
}