#pague-logo-screen,
#pague-logo-screen input {
    width: 100%;
}

#pague-logo-screen .card-wrapper {
    display: none;
}

#pague-logo-screen #payment-fields{
    padding: 0;
}

#pague-logo-screen #payment-fields input{
    margin-bottom: 20px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #999;
}

@media screen and (min-width: 280px) {
    #pague-logo-screen .card-wrapper {
        display: block;
        position: relative;
        height: 
    }

    #pague-logo-screen .card-wrapper .js-card-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 280px) {
    .card-wrapper {
      max-width: 80vw;
      width: 100%;
      margin: 20px auto;
      overflow-x: hidden;
    }
  
    .card-wrapper > .jp-card-container {
      transform: scale(0.625);
      transform-origin: left center;
    }
  }